body{
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #0e0d0d;
}
h1{
    color: black;
    font-size: 50px;
}
.boton{
    border-radius: 30px;
    color: black;
    background-color: aquamarine;
    font-size: 30px;
}
.input {
    width: 300px;
    height: 50px;
    font-size: 30px;
}
header .menu {
    width: 100%;
    font-size: 20px;
    padding: 30px;
    background-color: rgb(46, 46, 233);
}

header .menu ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

header .menu ul li {
    margin-right: 20px; /* Espacio entre elementos de la lista */
}
  
header .menu ul li:last-child {
    margin-right: 70px; /* Para eliminar el margen derecho del último elemento */
}
.footer{
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(46, 46, 233);
    color: aliceblue;
}
